{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block header %}{% endblock %}
{% block importmap %}
	{{ importmap(['app', 'notification', 'form']) }}
{% endblock %}
{% block body %}
    <section class="container">
        <div>Retour a l'acceuil</div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
    
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
    
            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
           <div class="form-element">
             <label class="label-form" for="username">Adresse E-mail</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="input-form" autocomplete="email" required autofocus>
           </div>
            <div class="form-element">
    <label class="label-form" for="password">Mot de passe</label>
    <div class="input-with-icon">
        <input type="password" name="_password" id="password" class="input-form" autocomplete="current-password" required>
        <span class="toggle-password" onclick="togglePassword()">
            <i class="fas fa-eye"></i>
        </span>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
</div>

    
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
    
                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}
    
            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
        </form>
        <div>Voir les Annonces</div>
    </section>

    <script>
        function togglePassword() {
    const passwordField = document.getElementById("password");
    const icon = document.querySelector(".toggle-password i");

    if (passwordField.type === "password") {
        passwordField.type = "text";
        icon.classList.replace("fa-eye", "fa-eye-slash");
    } else {
        passwordField.type = "password";
        icon.classList.replace("fa-eye-slash", "fa-eye");
    }
}
    </script>
{% endblock %}
{% block footer %}{% endblock %}
