{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% block header %}{% endblock %}
{% block importmap %}{{ importmap(['app', 'search']) }}{% endblock %}

{% block body %}
	<h1>
	{% if user is defined %}
            Modifier le Profil de {{ user.infosUser.userName }}
        {% else %}
            Créer un Compte
        {% endif %}
	</h1>
	<section class="container">
		<div class="">Retour à l'Accueil</div>
		{{ form_start(registrationForm) }}
		<div class="form-element">
			{{ form_label(registrationForm.email) }}
			{{ form_widget(registrationForm.email) }}
			{{ form_errors(registrationForm.email) }}
		</div>
		<div class="form-element">
			{{ form_label(registrationForm.plainPassword.first) }}
			{{ form_widget(registrationForm.plainPassword.first) }}
			{{ form_errors(registrationForm.plainPassword.first) }}
		</div>
		<div class="form-element">
			{{ form_label(registrationForm.plainPassword.second) }}
			{{ form_widget(registrationForm.plainPassword.second) }}
			{{ form_errors(registrationForm.plainPassword.second) }}
		</div>
		<div class="form-element">
			{{ form_label(registrationForm.infosUser.userName) }}
			{{ form_widget(registrationForm.infosUser.userName) }}
			{{ form_errors(registrationForm.infosUser.userName) }}
		</div><div class="form-element">
			{{ form_label(registrationForm.infosUser.phoneNumber) }}
			{{ form_widget(registrationForm.infosUser.phoneNumber) }}
			{{ form_errors(registrationForm.infosUser.phoneNumber) }}
		</div><div class="form-element">
			{{ form_label(registrationForm.infosUser.city) }}
			{{ form_widget(registrationForm.infosUser.city) }}
			{{ form_errors(registrationForm.infosUser.city) }}
			<div id="showlist" class="show">
    <ul id="showresults">
    </ul>
    </div>
		</div>
		<div class="form-element">
			{{ form_label(registrationForm.infosUser.birthDate) }}
			{{ form_widget(registrationForm.infosUser.birthDate) }}
			{{ form_errors(registrationForm.infosUser.birthDate) }}
		</div><div class="form-element">
			{{ form_label(registrationForm.infosUser.bio) }}
			{{ form_widget(registrationForm.infosUser.bio) }}
			{{ form_errors(registrationForm.infosUser.bio) }}
		</div>


		<div class="form-element-check">
			{{ form_label(registrationForm.agreeTerms) }}
			{{ form_widget(registrationForm.agreeTerms) }}
			{{ form_errors(registrationForm.agreeTerms) }}
		</div>
		<button type="submit" class="btn">
		{% if user is defined %}
                Modifier
            {% else %}
                Créer un Compte
            {% endif %}
		</button>
		{{ form_end(registrationForm) }}
		<div>Voir les Annonces</div>
	</section>
{% endblock %}
{% block footer %}{% endblock %}
