<article id="card" class="card">
	<section class="sup-card">
		<div class="rate">
			<img class="icone-rate" src="{{ asset('/images/star.png') }}" alt="icone étoile"/><span class="value">5</span>
		</div>
		<a href="{{ path('listings_showone', { id: book.id }) }}">
			<img class="image-box" src="{{ asset('/images/9782100844395-001-X.jpeg') }}" alt="image du livre"/>
		</a>
		{% if app.user %}
			<a class="fav" href="{{ path('listings_toggle_favorite', {'id': book.id })}}">
				{% if book in app.user.favorites %}
					
					<img class="favorite" src="{{ asset('/images/fav.png') }}" alt="logo favoris"/>
				{% else %}
					
					<img class="favorite" src="{{ asset('/images/favori.png') }}" alt="logo favoris"/>
				{% endif %}


			</a>
		{% endif %}

	</section>
	<div></div>
	<section class="low-card">
		<div class="book-title">{{ book.title }}</div>
		<div class="book-author">{{ book.author }}</div>
		<div class="details">
			<div class="detail">
				<div class="location">
					<img class="infos-logo" src="{{ asset('/images/localisation.png') }}" alt="icone localisation"/><span class="value">{{ book.location }}</span>
				</div>
				<div class="type">
					{% for exchangeType in book.exchangeType %}
						{% if exchangeType.value == "permanent" %}
							<div title="échange définitif" class="{{ exchangeType.value }}">
								<img class="permanenticone" src="{{ asset('images/permanent.png') }}" alt="">
							</div>
						{% endif %}
						{% if exchangeType.value == "temporary" %}
							<div title="échange temporaire" class="{{ exchangeType.value }}">
								<img class="permanenticone" src="{{ asset('images/temporary.png') }}" alt="">
							</div>
						{% endif %}

					{% endfor %}
				</div>
			</div>
			<div class="detail">
				<div class="book-state">
					<img class="infos-logo" src="{{ asset('/images/etatdulivre.png') }}" alt="icone état du livre"/><span class="value">{{ book.state.value }}</span>
				</div>
				<div class="book-categorie">
					<img class="infos-logo" src="{{ asset('/images/categorie.png') }}" alt="icone catégorie"/><span class="value">{{book.bookCategorie.name}}</span>
				</div>
			</div>
		</div>
	</section>
</article>
