<div id="card" class="card">
	<div class="supe-card">
		<div class="left-sup-card">Temporaire</div>
		<a href="{{ path('listings_showone', { id: book.id }) }}">
		<img class="middle-sup-card" src="{{ asset('/images/9782100844395-001-X.jpeg') }}" alt="image du livre"/>
		</a>

		<div class="right-sup-card">
			<a href="">
			<img class="favorite" src="{{ asset('/images/favoris.png') }}" alt="logo favoris"/>
			</a>
		</div>
	</div>
	<div class="low-card">
		<div class="book-title">{{ book.title }}</div>
		<div class="book-author">{{ book.author }}</div>
		<div class="details">
			<img class="infos-logo" src="{{ asset('/images/localisation.png') }}" alt="logo localisation"/>{{ book.location }}
		</div>
		<div class="book-infos">
			<span class="details"><img class="infos-logo" src="{{ asset('/images/calendrier.png') }}" alt="logo calendrier"/>{{ book.state.value }}</span>
			<span class="details"><img class="infos-logo" src="{{ asset('/images/categorie.png') }}" alt=""/>{{book.bookCategorie.name}}</span>
			<span class="details"><img class="infos-logo" src="{{ asset('/images/page-blanche.png') }}" alt=""/>{{ book.pages }} P</span>
		</div>
	</div>
</div>
