<footer class="footer">
    <div class="footer-section logo-section">
        <div class="logo-footer" id="logo">
            <a class="hreflogo" href="{{ path('home')}}">
            <img class="logo-design-footer" src="{{ asset('/images/logo.png')}}" alt="Logo du site plume verte">
            <img class="logo-name-footer" src="{{ asset('/images/logo-name.png')}}" alt="logo du site Booksinder">
            </a>
        </div>
        <p>
    BooksFinder facilite les échanges de livres entre passionnés. Publiez, découvrez et échangez vos ouvrages pour partager le plaisir de lire !
</p>

        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>

    <div class="footer-section quick-links">
       <h3>Liens Rapides</h3>
<ul>
    <li><a href="#">À Propos</a></li>
    <li><a href="#">Blogs & Articles</a></li>
    <li><a href="{{ path('app_legal_notice') }}">Mentions légales</a></li>
    <li><a href="{{ path('app_privacy_policy') }}">Politique de confidentialité</a></li>
    <li><a href="#">Contactez-Nous</a></li>
</ul>
    </div>

    <div class="footer-section newsletter">
    <h3>Newsletter</h3>
    <form action="#">
        <input type="email" placeholder="Entrez votre adresse e-mail" required>
        <button type="submit">S'abonner</button>
    </form>
    <p>Nous ne vous enverrons jamais de spam !</p>
</div>

<div class="footer-section contact">
    <h3>Contact</h3>
    <p><i class="fas fa-map-marker-alt"></i> 170 Bd des États-Unis, 69008 Lyon</p>
    <p><i class="fas fa-envelope"></i> ainseri.fatah@proton.com</p>
    <p><i class="fas fa-phone"></i> +33 999999999</p>
</div>

</footer>
