{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block header %}{% endblock %}
{% block importmap %}{{ importmap(['app', 'form']) }}{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisez votre mot de passe</h1>


<section class="container">
    {{ form_start(requestForm, {'attr': {'class': 'registration-form-class'}}) }}
        <div class="form-element">
			{{ form_label(requestForm.email,null, {'label_attr': {'class': 'required-label'}}) }}
			{{ form_widget(requestForm.email) }}
			{{ form_errors(requestForm.email) }}
		</div>
        <div>
            <small>
                Entrez votre adresse e-mail, et nous vous enverrons
                 un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="add-form-btn">Envoyer un e-mail de réinitialisation du mot de passe</button>
    {{ form_end(requestForm) }}
    </section>
    {% block features %}{% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}
