{% extends 'base.html.twig' %}
{% block importmap %}
{{ importmap(['app', 'exchange', 'card']) }}
{% endblock %}
{% block title %}Détails de la demande{% endblock %}

{% block body %}
    <h1>Détails de la demande d'échange</h1>

    <p>Livre demandé : {{ exchange_request.bookOne.title }}</p>

    <form action="{{ path('app_exchange_accept', { id: exchange_request.id }) }}" method="POST">
        <h2>Livres disponibles de {{ exchange_request.userRequester.infosUser.username }}</h2>
        
        <div class="grid">
            {% for book in books %}
                <ul>
                    <input type="radio" name="selected_book" value="{{ book.id }}" required 
                           aria-label="Sélectionner le livre {{ book.title }}">
                    {% include "partials/card.html.twig" %}
                </ul>
            {% endfor %}
        </div>
        
        <button type="submit" class="btn btn-success" aria-label="Accepter la demande d'échange avec le livre sélectionné">Accepter</button>
    </form>
    {% block features %}{% endblock %}
{% endblock %}
