{% extends "base.html.twig" %}
{% block title %}Add Listing{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<h1>Ajouter une annonce</h1>
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.author) }}
    {{ form_row(form.isbn) }}
    {{ form_row(form.description) }}
    {{ form_row(form.edition) }}
    {{ form_row(form.location) }}
    {{ form_row(form.pages) }}
    {{ form_row(form.state) }}
    {{ form_row(form.bookCategorie) }}

    <button type="submit">Ajouter</button>


{{ form_end(form) }}


{% endblock %}
{% block footer %}{% endblock %}