{% extends "base.html.twig" %}
{% block title %}Add Listing
{% endblock %}
{% block header %}{% endblock %}
{% block importmap %}{{ importmap(['app', 'search']) }}{% endblock %}
{% block body %}
<h1>{% if book is defined %}
            Modifier l'annonce {{ book.title }}
        {% else %}
            Ajouter une Annonce
        {% endif %}</h1>
<section class="container">
<a class="nav-connect" href="{{ path('home')}}">Retour à l'Accueil</a>
    {{ form_start(form) }}

    <div class="form-element">
        {{ form_label(form.cover) }}
        {{ form_widget(form.cover) }}
        {{ form_errors(form.cover) }}
        {% if book.cover is defined and book.cover is not null %}
        <img src="{{ vich_uploader_asset(book.cover) }}" alt="">
        {% endif %}
    </div>
    <div class="form-element">
        {{ form_label(form.back) }}
        {{ form_widget(form.back) }}
        {{ form_errors(form.back) }}
        {% set imageBackUrl = asset('/images/back.jpg') %}
        {% if book.back is defined and book.back is not null %}
            <img src="{{ vich_uploader_asset(book.back) }}" alt="">
        {% endif %}
    </div>
    <div class="form-element">
        {{ form_label(form.isbn) }}
        {{ form_widget(form.isbn) }}
        {{ form_errors(form.isbn) }}
    </div>
<div class="form-element">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
</div>

<div class="form-element">
    {{ form_label(form.author) }}
    {{ form_widget(form.author) }}
    {{ form_errors(form.author) }}
</div>



<div class="form-element">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</div>

<div class="form-element">
    {{ form_label(form.edition) }}
    {{ form_widget(form.edition) }}
    {{ form_errors(form.edition) }}
</div>



<div class="form-element">
    {{ form_label(form.pages) }}
    {{ form_widget(form.pages) }}
    {{ form_errors(form.pages) }}
</div>

<div class="form-element">
    {{ form_label(form.state) }}
    {{ form_widget(form.state) }}
    {{ form_errors(form.state) }}
</div>

<div class="form-element-type">
    {{ form_label(form.exchangeType) }}
    {{ form_widget(form.exchangeType) }}
    {{ form_errors(form.exchangeType) }}
</div>

<div class="form-element">
    {{ form_label(form.bookCategorie) }}
    {{ form_widget(form.bookCategorie) }}
    {{ form_errors(form.bookCategorie) }}
</div>
<div class="form-element" id="locationContainer">
    {{ form_label(form.location) }}
    {{ form_widget(form.location) }}
    {{ form_errors(form.location) }}
    <div id="showlist" class="show">
    <ul id="showresults">
    {# <li></li>
    <li></li>
    <li></li> #}
    </ul>
    </div>
</div>

<button type="submit">
{% if book is defined %}
                Modifier
            {% else %}
                Ajouter
            {% endif %}
</button>

{{ form_end(form) }}
<a class="nav-connect" href="{{ path('listings_show')}}">Voir les Annonces</a>
</section>



{% endblock %}
{% block footer %}{% endblock %}
