<section class="form-search-section">
        {{ form_start(form, {'attr': {'class': 'search-form-class'}}) }}
<div class="form-search-element">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
</div>

<div class="form-search-element">
    {{ form_label(form.author) }}
    {{ form_widget(form.author) }}
    {{ form_errors(form.author) }}
</div>

<div class="form-search-element-type">
    {{ form_label(form.exchangeType) }}
    {{ form_widget(form.exchangeType) }}
    {{ form_errors(form.exchangeType) }}
</div>

<div class="form-search-element">
    {{ form_label(form.bookCategorie) }}
    {{ form_widget(form.bookCategorie) }}
    {{ form_errors(form.bookCategorie) }}
</div>
<div class="form-search-element" id="locationContainer">
    {{ form_label(form.location) }}
    {{ form_widget(form.location) }}
    {{ form_errors(form.location) }}
</div>

<button class="search-form-btn" type="submit">Lancer la recherche</button>

{{ form_end(form) }}

</section>