{% extends "base.html.twig" %} {% block title %}accueil{% endblock %} 
{% block body %}
<section class="banner">
  <h1 class="title">BOOKSINDER</h1>
  <h2 class="welcome">Bienvennue sur BOOKSINDER</h2>
  <h3 class="welcome">La Communnauté d'Echange de Livre Entre Particuliers</h3>
</section>
<main>
  <section class="introduction">
    <p class="about-text">
      <span class="booksinder">BOOKSINDER</span> est né de la passion pour la
      lecture et le désir de créer une communauté de partage et de découverte
      littéraire. Notre mission est simple : permettre aux amoureux des livres
      de trouver de nouvelles lectures sans dépenser un centime, tout en donnant
      une seconde vie à leurs ouvrages.
    </p>
    <img class="img-about" src="{{ asset('/images/home1.webp') }}" alt="" />
    <img class="img-about" src="{{ asset('/images/home2.webp') }}" alt="" />
    <p class="objective">
      <span class="booksinder">Pourquoi BOOKSINDER ?</span> Dans un monde où la
      surconsommation est de plus en plus pointée du doigt, nous croyons
      fermement à l'économie circulaire et à la durabilité. Les livres, une fois
      lus, méritent de continuer à voyager et à être partagés. BookSinder offre
      une plateforme où les particuliers peuvent échanger leurs livres,
      découvrir de nouveaux genres, et partager leurs coups de cœur littéraires
      avec d'autres passionnés.
    </p>
  </section>
  <section class="how-it-works">
    <div class="step-one">
      <p class="text-step">
        <span class="step-number">01.</span>
        Je me <a href="{{ path('app_login')}}" class="green-word">connecte</a> et j'ajoute mes livres dans la bibliotheque BOOKSINDER
      </p>
      <img class="img-step" src="{{ asset('/images/step1.jpg') }}" alt="" />
    </div>
    <div class="step-two">
      <p class="text-step">
        <span class="step-number">02. </span>
        Je cherche un livre qui m’intersse dans la <a href="{{ path('listings_show')}}" class="green-word">bibliotheque</a>
      </p>
      <img class="img-step" src="{{ asset('/images/step2.jpg') }}" alt="" />
    </div>
    <div class="step-three">
      <p class="text-step">
        <span class="step-number">03.</span>
        Je choisis un livre et je fais une demande d’échange
      </p>
      <img class="img-step" src="{{ asset('/images/step3.jpg') }}" alt="" />
    </div>
    <div class="step-four">
      <p class="text-step">
        <span class="step-number">04.</span> 
        Si la personne accepte la demande, on échange nos deux livres
      </p>
      <img class="img-step" src="{{ asset('/images/step4.jpg') }}" alt="" />
    </div>
  </section>
</main>
{% endblock %}

