{% extends "base.html.twig" %} {% block title %}accueil{% endblock %}
{% block importmap %}
{{ importmap(['app', 'home']) }}
{% endblock %}
{% block body %}
<section class="banner">
  <h1 class="welcome">Bienvenue sur BOOKSINDER</h1>
  <p class="welcome">La communauté d'échange de livres Entre particuliers</p>
</section>
<main>
  <h2 class="about" id="about">À propos</h2>
  <section class="introduction">
    <p class="about-text">
      <span class="booksinder">BOOKSINDER</span> Né de la passion pour la lecture et du désir de rassembler les âmes, notre mission est de créer une communauté de partage et découverte. Nous offrons aux amoureux des livres la chance de dénicher de nouvelles histoires sans débourser un centime, tout en donnant une seconde vie à leurs ouvrages et en tissant des liens précieux entre passionnés.
    </p>
    <img class="img-about img-about-display" src="{{ asset('/images/home1.svg') }}" alt="" />
    <img class="img-about" src="{{ asset('/images/home2.svg') }}" alt="" />
    <p class="objective">
      <span class="booksinder">Pourquoi BOOKSINDER ?</span> Dans un monde où la
      surconsommation est de plus en plus pointée du doigt, nous croyons
      fermement à l'économie circulaire et à la durabilité. Les livres, une fois
      lus, méritent de continuer à voyager et à être partagés. BookSinder offre
      une plateforme où les particuliers peuvent échanger leurs livres,
      découvrir de nouveaux genres, et partager leurs coups de cœur littéraires
      avec d'autres passionnés.
    </p>
  </section>

  <hr class="decorative-line">
  <h2 class="about">Comment ça fonctionne</h2>
  <section class="how-it-works">
    <div class="step-one">
      <h3 class="step-title"><span class="step-number">01.</span>Inscription et Création de Profil</h3>
      <div class="step-one-container">
        
        <p class="text-step-one">
          <a href="{{ path('app_register')}}" class="green-word">Je m'inscris</a> en créant un compte utilisateur et en
          remplissant les informations de mon profil.
        </p>
        <img class="img-step" src="{{ asset('/images/step1.svg') }}" alt="" />
      </div>
      
    </div>

    <div class="step-two">
      <h3 class="step-title"><span class="step-number">02.</span>Ajout de Livres</h3>
      <div class="step-two-container">
        
        <p class="text-step-two">
          Je vais dans la <a href="{{ path('listings_show')}}" class="green-word">bibliotheque</a> pour ajouter les
          livres que je souhaite échanger. Je remplis les détails.
        </p>
        <img class="img-step" src="{{ asset('/images/step2.svg') }}" alt="" />
      </div>
      
    </div>
    <div class="step-three">
      <h3 class="step-title"><span class="step-number">03.</span>Recherche et Demande d’Échange</h3>
      <div class="step-three-container">
        
        <p class="text-step-three">
          Je parcours les livres disponibles, choisis celui qui m'intéresse, et demander un échange.
        </p>
        <img class="img-step" src="{{ asset('/images/step3.svg') }}" alt="" />
      </div>
      
    </div>
    <div class="step-four">
      <h3 class="step-title"><span class="step-number">04.</span>Échange du Livre</h3>
      <div class="step-four-container">
        
        <p class="text-step-four">
          Une fois la demande acceptée, nous convenons d'un rendez-vous avec le partenaire d'échange pour finaliser l'échange.
        </p>
        <img class="img-step" src="{{ asset('/images/step4.svg') }}" alt="" />
      </div>
      
    </div>
  </section>
</main>
{% endblock %}