{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block title %}Conversation{% endblock %}

{% block body %}

<div class='messages-container'>
    <h2 class="conversation-header">
    {% for participant in conversation.participants %}
        {% if participant != app.user %}
            {{ participant.infosUser.userName }}
        {% endif %}
    {% endfor %}
</h2>
<ul class="messages-list">
    {% for message in conversation.messages %}
        <li class="message-item {% if message.writer == app.user %}sent{% else %}received{% endif %}">
            <strong class="message-writer">{{ message.writer.infosUser.userName }}:</strong> 
            <span class="message-content">{{ message.content }}</span>
            <br>
            <small class="message-date">{{ message.createdAt|date('d-m-Y H:i') }}</small>
        </li>
    {% endfor %}
</ul>

{{ form_start(form) }}
    {# <div class="form-group">{{ form_label(form.content) }}</div> #}
    <div class="form-input">{{ form_widget(form.content) }}</div>
    <button type="submit" class="submit-button">Envoyer</button>
{{ form_end(form) }}
</div>


{% endblock %}
{% block features %}{% endblock %}
{% block footer %}{% endblock %}