{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
{% block importmap %}
	{{ importmap(['app', 'notification']) }}
{% endblock %}
{% block body %}
<div>aaaaaaaaaaaaaaaaaa</div>
<div>aaaaaaaaaaaaaaaaaa</div>
<div>aaaaaaaaaaaaaaaaaa</div>
<div>aaaaaaaaaaaaaaaaaa</div>
<div>bbbbbbbbbbb</div>

    <h1>Liste des Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                {# <th>Password</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {# <td>{{ user.password }}</td> #}
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir le Profil</a>
                    <a href="{{ path('update', {'id': user.id}) }}">Modifier le Profil</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}">Create new</a>
{% endblock %}
