{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}
{% block importmap %}
	{{ importmap(['app', 'notification']) }}
{% endblock %}
{% block body %}
<div>-----------</div>
<div>-----------</div>
<div>-----------</div>
<div>-----------</div>
<div>-----------</div>
<div>-----------</div>
<div>-----------</div>

    <h1>User</h1>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    <ul>
                        {% for role in user.roles %}
                            <li>{{ role }}</li>
                        {% else %}
                            <li>Aucun rôle attribué</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Nom d'utilisateur</th>
                <td>{{ user.infosUser.userName }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.infosUser.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ user.infosUser.birthDate|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.infosUser.city }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ user.infosUser.bio }}</td>
            </tr>
            <a href="{{ path('app_conversation_new', {'id': user.id}) }}">Contacter</a>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_user_index') }}">Voir tous la liste des utilisateurs</a>
    {% endif %}

    {% if app.user is not null and (app.user.id == user.id or is_granted('ROLE_ADMIN')) %}
    <a href="{{ path('update', {'id': user.id}) }}">Modifier</a>

    
    <form action="{{ path('app_user_delete', {'id': user.id}) }}" method="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button type="submit" class="btn" onclick="return confirm('Confirm action ?')">Delete</button>
    </form>
{% endif %}

{% endblock %}
